{% extends 'base.html' %}

{% block title %}Add or Edit Blacklist Prefix - AXGeofeed{% endblock %}

{% block mainContent %}
<h2>Add Blacklist Prefix</h2>
<form method="POST" action="/addblacklistprefix">
    {{ form.hidden_tag() if form else "" }}
  <div class="mb-3 mt-3">
      <label for="prefix">Prefix</label>
      {{ form.prefix(class="form-control", id="prefix", type="text", placeholder="Prefix", required=true) }}
  </div>
  {{ form.submit(class="btn btn-primary") }}&nbsp;
  <button type="button" class="btn btn-danger" onclick="window.location.href='/dashboard'">
    <ion-icon name="arrow-back-circle-outline"></ion-icon> Back to homepage
  </button>
</form>
{% endblock %}