{% extends 'base.html' %}

{% block title %}Add or Edit AS-SET - AXGeofeed{% endblock %}

{% block mainContent %}
<h2>Add AS-SET</h2>
<form method="POST" action="/gui/addasset">
    {{ form.hidden_tag() if form else "" }}
  <div class="mb-3 mt-3">
      <label for="asset_name">AS-SET Name</label>
      {{ form.asset_name(class="form-control", id="asset_name", type="text", placeholder="AS-SET Name", required=true) }}
  </div>
  {{ form.submit(class="btn btn-primary") }}&nbsp;
  <button type="button" class="btn btn-danger" onclick="window.location.href='/gui/dashboard'">
    <ion-icon name="arrow-back-circle-outline"></ion-icon> Back to homepage
  </button>
</form>
{% endblock %}