{% extends 'base.html' %}

{% block title %}Blacklist Prefix - AXGeofeed{% endblock %}

{% block header %}
<div class="container mt-3">
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Blacklist Prefix Entries</h1>
    <p>The prefixes that will not be included in IRR sync.</p>
  </div>
</div>
{% endblock %}

{% block mainContent %}
<div style="text-align: right;">
  <button type="button" class="btn text-primary" onclick="window.location.href='/addblacklistprefix'">
    <ion-icon name="add-circle-outline"></ion-icon> Add a new entry
  </button>
</div>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Entry ID</th>
        {% if privileged %}
        <th>User ID</th>
        {% endif %}
        <th>Prefix</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for item in query %}
      <tr>
        <td>{{item.id}}</td>
        {% if privileged %}
        <td><a href="/users" title="Go to user management">{{item.userid}}</a></td>
        {% endif %}
        <td>{{item.prefix}}</td>
          <td>
            <a href="/deleteblacklistprefix/{{ item.id }}"
               title="Delete entry confirmation"
               onclick="return confirm('Are you sure you want to delete entry {{item.prefix}}?');">
               <ion-icon name="trash-outline"></ion-icon> Delete
            </a>
          </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
{% endblock %}