{% extends 'base.html' %}

{% block title %}Dashboard - AXGeofeed{% endblock %}

{% block mainContent %}
<h2>Current Geofeed Entries</h2>
<button type="button" class="btn btn-primary" onclick="window.location.href('/addprefix')">
  <ion-icon name="add-circle-outline"></ion-icon> Add a new entry</button>
<p>&nbsp;</p>
<table class="table">
    <thead>
      <tr>
        <th>Entry ID</th>
        <th>Prefix</th>
        <th>Country Code</th>
        <th>Region Code</th>
        <th>City</th>
        <th>Postal Code</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for item in query %}
      <tr>
        <td>{{query.id}}</td>
        <td>{{query.prefix}}</td>
        <td>{{query.country_code}}</td>
        <td>{{query.region_code}}</td>
        <td>{{query.city}}</td>
        <td>{{query.postal_code}}</td>
        <td><a href="/prefixaction/edit/{{query.prefix}}" title="Edit entry"><ion-icon name="create-outline"></ion-icon> Edit</a></td>
        <td>
          <a href="/delete/{{ query.prefix }}"
             title="Delete entry confirmation"
             onclick="return confirm('Are you sure you want to delete entry {{query.prefix}}?');">
             <ion-icon name="trash-outline"></ion-icon> Delete
          </a>
      </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
{% endblock %}