{% extends 'base.html' %}

{% block title %}Users - AXGeofeed{% endblock %}

{% block header %}
<div class="container mt-3">
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>User Management</h1>
    <p>Manage user access.</p>
  </div>
</div>
<br>
{% endblock %}

{% block mainContent %}
{% if userrole == 0 %}
<div style="text-align: right;">
<button type="button" class="btn text-primary" onclick="window.location.href='/adduser'">
  <ion-icon name="add-circle-outline"></ion-icon> Add a new user</button>
</div>
{% endif %}
<table class="table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Privilege</th>
        <th>Disabled</th>
        <th>Edit User</th>
        <th>Disable/Enable User</th>
        <th>Delete User</th>
      </tr>
    </thead>
    <tbody>
      {% for item in query %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.username}}</td>
        <td>{{item.privilege}}</td>
          {% if item.disabled == 0 %}
            <td>No</td>
          {% else %}
            <td>Yes</td>
          {% endif %}
        <td><a href="/edituser/{{item.id}}" title="Edit user"><ion-icon name="create-outline"></ion-icon> Edit</a></td>
      <td>
          {% if userID == item.id %}
          Cannot disable yourself
          {% else %}
              {% if item.disabled == 0 %}
              <a href="/useraction/disable/{{ item.id }}"
                 title="Confirmation"
                 onclick="return confirm('Are you sure you want to disable this user?');">
                 <ion-icon name="body-outline"></ion-icon> Disable
              </a>
              {% else %}
              <a href="/useraction/enable/{{ item.id }}"
                 title="Confirmation"
                 onclick="return confirm('Are you sure you want to enable this user?');">
                 <ion-icon name="body-outline"></ion-icon> Enable
              </a>
              {% endif %}
          {% endif %}
      </td>
          {% if userID == item.id %}
          <td>Cannot delete yourself</td>
          {% else %}
        <td>
          <a href="/useraction/delete/{{ item.id }}"
             title="Delete confirmation"
             onclick="return confirm('Are you sure you want to delete this user?');">
             <ion-icon name="trash-outline"></ion-icon> Delete
          </a>
        </td>
          {% endif %}
      </tr>
      {%endfor%}
    </tbody>
  </table>
<p>User roles: 0 - Full Administrator; 1 - Ordinary User; 2 - API Only User</p>
{% endblock %}